@use "../../../styles/colors" as color

.card-container
    display: flex
    color: color.$primary
    display: flex
    justify-content: center
    outline: 0
    border-radius: 18px
    padding: 10px
    padding-bottom: 0px
    margin: 20px
    background-color: color.$secondary
    min-height: 55vh
    width: 100%
    h3
        padding-top: 1rem
        padding-bottom: 1rem
