@use 'fonts' as font
@use 'colors' as color

// Set global font:
:root
    font-family: font.$primary
    background-color: color.$primary 

#__next
    font-family: font.$primary
    background-color: color.$primary

.heading
    color: color.$secondary
    font-size: 2rem
    text-align: center
    padding: 35px 0px 35px 0px
